@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 14px;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
  background-color: hsl(225, 100%, 94%);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
}


.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

header{
  width: 400px;
  align-items: center;
}

header img{
  width:100%;
  border-radius: 10px 10px 0 0 ;
}

.boxText{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.boxText h1{
  text-align: center;
  padding: 20px;
  color:hsl(223, 47%, 23%);
  font-weight: 900;
}

.boxText p{
  text-align: center;
  padding: 10px;
  width: 320px;
  font-weight: 400;
  color:hsl(224, 23%, 55%);
}

.boxPlan{
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 320px;
  padding: 10px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
}
.boxPlan a{
  color:hsl(245, 75%, 52%);
  font-weight: 700;
}
.plano{
  margin: 0.7rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  color:hsl(224, 23%, 55%);
  font-weight: 500;
}

#plan1{
  color:hsl(223, 47%, 23%);
  font-weight: 900;
}

.btn{
  background:hsl(245, 75%, 52%);
  color: white;
  font-size: 14px;
  width: 330px;
  border-radius: 10px;
  padding: 15px 16px 15px 16px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 2px 20px hsl(225, 100%, 98%);
}

.btnCancel{
  margin: 1rem;
  cursor: pointer;
  padding: 10px;
}
